<!DOCTYPE html>
<html>
<head>
    <title>Cyberpunk Registration Page</title>
    <link rel="stylesheet" type="text/css" href="/css/cyberpunk.css">
    <link href="/css/registration.css" rel="stylesheet">
</head>
<body>
<div class="registration-container">
    <form id="registrationForm">
        <h2>Register</h2>
        <div class="input-group">
            <input type="text" id="username" required>
            <label for="username">Username</label>
        </div>
        <div class="input-group">
            <input type="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input type="password" id="confirmPassword" required>
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="input-group">
            <input type="email" id="email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <input type="text" id="phoneNumber" required>
            <label for="phoneNumber">Phone Number</label>
        </div>
        <button type="submit" class="register-btn">Register</button>
    </form>
</div>
<script src="registrationScript.js"></script>
</body>
</html>
